html, body, #app, .App {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

.Hidden {
    display: none;
}

.Select {
    max-width: 190px !important;
}

.btn {
    border-radius: 2px;
    color: #ffffff;
    // background: #3498db;
    background: #7591A9;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;

    text-decoration: none;
    text-align: center;
    font-weight: 700;

    margin-top: 10px;

    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

    &:hover {
        background: #8AABC7;
        text-decoration: none;
        cursor: pointer;
    }
}


.ClassPicker {
    display: inline-block;
    width: 37%;
    float: left;

    .ClassList {
        margin-top: 10px;

        .ClassListHeader {
            font-size: 17px;
            font-weight: bold;
        }

        .ClassTitle {
            margin-left: 5px;

            .ClassX {
                cursor: pointer;
                color: red;

                &:hover {
                    color: darkred;
                }
            }

        }
    }
}

.ClassDetails {

    .ClassTitle {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: right;

    }


    tr {
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 1px;

        &.HeaderRow {
            border-top-style: solid;
            border-top-color: black;
            border-top-width: 1px;
        }
    }

    .TimeColumn {
        min-width: 100px;
    }

    // tr:nth-child(even){
    //     background-color: #7591A9;
    // }

    th {
        background-color: #7591A9;
        color: white;
    }

    .ClassSection {
        margin-bottom: 10px;
    }
}

input[type=checkbox]
{
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 5px;
}

.SideView {
    display: inline-block;
    float: left;
    text-align: center;
    width: 63%;
    max-width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1050px) {
    .ClassPicker {
        width: 100%;
    }

    .SideView {
        width: 100%;
    }
}

.Calendars {
    height: 100%;
}

.CalendarPicker {
    margin-bottom: 10px;

    .CalendarNumber {
        height: 1.2em;
        font-size: 16px;
    }

    .CalendarButtons {
        margin-top: 5px;
        margin-bottom: 5px;

        .btn {
            margin-left: 5px;
            margin-right: 5px;
        }

    }
}

.Calendar {
    height: 90%;

    .CalendarDayColumn {
        padding-left: 2px;
        padding-right: 2px;
        float:left;
        height: 90%;
    }

    .CalendarDaySections {
        position: relative;
        margin-top: 20px;
        height: 90%;
        margin-bottom: 50px;
    }

    .CalendarDayColumnWithSaturday {
        width: 12%;
    }

    .CalendarDayColumnWithoutSaturday {
        width: 14%;
    }

    .CalendarDayTitle {
        height: 1em;
    }

    .CalendarTimeColumn {
        float:left;
        height: 90%;
        width: 50px;
        padding-right: 10px;
    }

    .CalendarTimeColumnContent {
        margin-top: 20px;
        width: 100%;
        height: 90%;
        position: relative;
    }

    .CalendarTimeLabel {
        height: 50px;
        width: 100%;
        position: absolute;
        border-top-style: solid;
        border-top-color: black;
        border-top-width: 2px;
        text-align: left;
    }

    .Section {
        width: 100%;
        // border-color: gray;
        border-style: solid;
        border-width: 2px;
        padding: 4px;
        box-sizing: border-box;
        font-size: 10px;
        line-height: 0.9em;

        .CourseTitle {
            font-weight: 600;
        }
    }
}
