.Select {
    max-width: 190px !important;
}

.ClassPicker {
    display: inline-block;
    width: 400px;
    float: left;
}

.SideView {
    display: inline-block;
    float: left;
    text-align: center;
    width: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: right;
}

tr:nth-child(even){
    background-color: #f2f2f2

}

th {
    background-color: #4CAF50;
    color: white;
}

.ClassSection {
    margin-bottom: 10px;
}
