.Select {
    max-width: 190px !important;
}

.ClassPicker {
    display: inline-block;
    width: 300px;
    float: left;
}

.Calendar {
    display: inline-block;
    float: left;
    text-align: center;
    width: 500px;
}
